@import 'nib'

a, a:link
  cursor pointer

body
  padding-top 70px

table
  tfoot, tbody
    th
      border-top 1px solid #DDD

.orange
  background-color #FF811A

.jumbotron
  margin-bottom 0

.footer-wrapper
  background #006D80