@import 'nib'

a, a:link
  cursor pointer

body
  padding-top 70px

table
  tfoot, tbody
    th
      border-top 1px solid #DDD

.orange
  background-color #FF811A

.jumbotron
  margin-bottom 0

.footer-wrapper
  background #3B70FF

.footer-wrapper a
  color: white

.social-media
  padding-top 80px
  text-align center

.social-media a
  color #ffffff

.social-media
  a:hover
  a:focus
    color #3B70FF

.image_gallery a
  display inline-block

.image_gallery img
  padding-bottom 15px
  padding-top 15px